:root {
  --background-primary: #F4F1DE;
  --background-secondary: #3D405B;
  --color-primary: #E07A5F;
  --color-secondary: #81B29A;
  --color-tertiary: #F2CC8F;
}

body, html {
  font-family: 'Lato', sans-serif;
  background-color: var(--background-primary);
}

/* header styling */
.home-header {
  position: relative;
  top: 0;
  width: 100%;
  background-color: var(--color-primary);
  min-height: 6vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.header-link {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;
}
/* end header styling */

/* calendar styling */
.calendar {
  width: 80vw;
  margin: 0 auto;
  display: block;
}

.month-select {
  width: 30vw;
  margin: 1rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  user-select: none;
}

.month-select-child {
  font-size: 1.5rem;
}

.arrow-container {
  cursor: pointer;
}

.day-card {
  width: 80%;
  margin: 0.5rem auto;
  border-radius: 18px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-secondary);
  color: var(--background-primary);
  cursor: pointer;
}

.day-number {
  font-size: 2rem;
}

.day-header {
  font-style: italic;
}

.day-number, .day-header {
  margin-left: 1.5rem;
}
/* end calendar styling */