:root {
  --background-primary: #F4F1DE;
  --background-secondary: #3D405B;
  --color-primary: #E07A5F;
  --color-secondary: #81B29A;
  --color-tertiary: #0caaaf;
}

body, html {
  font-family: 'Lato', sans-serif;
  background-color: var(--background-primary);
}

/* header styling */
.home-header {
  position: relative;
  top: 0;
  width: 100%;
  background-color: var(--color-primary);
  min-height: 6vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.header-link {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;
}
/* end header styling */

/* calendar styling */
.calendar {
  width: 80vw;
  margin: 0 auto;
  display: block;
}

.month-select {
  width: 30vw;
  margin: 1rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  user-select: none;
}

.month-select-child {
  font-size: 1.5rem;
}

.arrow-container {
  cursor: pointer;
}

.month, .landing-page {
  height: 70vh;
  overflow: auto;
  border: 16px solid var(--color-tertiary);
  background-color: var(--color-primary);
  border-radius: 18px;
  margin-bottom: 1.5rem;
}

.month::-webkit-scrollbar {
  display: none;
}

.day-card {
  width: 80%;
  margin: 0.5rem auto;
  border-radius: 18px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-secondary);
  color: var(--background-primary);
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.day-card:hover {
  background-color: var(--color-secondary);
  color: black;
}

.day-number {
  font-size: 2rem;
}

.day-header {
  font-style: italic;
}

.day-number, .day-header {
  margin-left: 1.5rem;
  transition: all 0.3s ease-out;
}

.day-card:hover .day-number, .day-card:hover .day-header {
  transform: translateX(20vw);
}
/* end calendar styling */

/* landing page styling */
.landing-page {
  width: 80vw;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.welcome {
  font-size: 3rem;
  border-bottom: 8px solid var(--background-secondary);
  padding: 0 2rem;
}

.welcome-txt {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 0 10rem;
  font-style: italic;
  text-align: center;
}

.welcome-txt a {
  color: var(--background-primary);
}

.welcome-txt-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.landing-btn {
  font-size: 2rem;
  text-decoration: none;
  color: var(--background-primary);
  background-color: var(--background-secondary);
  padding: 1rem 2rem;
  border-radius: 18px;
  transition: all 0.5s ease-out;
  margin-bottom: 3rem;
}

.landing-btn:hover {
  background-color: var(--color-secondary);
  color: black;
}
/* end landing page styling */



/* media queries */
@media screen and (max-width: 768px) {
  body, html {
    font-size: 12px;
  }

  .month-select {
    width: 80vw;
  }
}